@model SkiStore.Models.ViewModels.ProductsViewModel
@using SkiStore.Models
@{ 
    Layout = "_Layout";
}

@if(Model.AlertMessage != null)
{
    <p>@Model.AlertMessage</p>
}

<div class="deck">
@foreach(Product product in Model.Products)
{
    <div class="card">
        <h3>@product.Name</h3>
        <img src="@product.ImageURL" />
        <p>@product.Description</p>
        <p>$@product.Price</p>
        <form asp-action="View" asp-controller="Products" method="get" asp-route-id="@product.ID">
            <button type="submit">View Details</button>
        </form>
    </div>
}
</div>